<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="media">
        <img src="img/profile.png" class="align-self-center mr-3 rounded-circle" alt="profile picture">
        <div class="media-body">
          <form method="POST">
            <div class="row">
              <input type="text" name="tweet" id="tweet" class="form-control form-control-lg ml-3"
                placeholder="What's happening?">
            </div>
            <div class="row justify-content-end pt-1">
              <button id="send-tweet" type="submit" style="background-color: rgb(29, 161, 242);"
                class="btn btn-primary">Tweet</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr class="col-sm-8" />